<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ivr_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="ARM1_GRIPPER">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_GRIPPER']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM1_JOINT1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_JOINT1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM1_JOINT2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_JOINT2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM1_JOINT3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_JOINT3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM1_JOINT4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_JOINT4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM1_JOINT5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_JOINT5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM1_JOINT6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_JOINT6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM1_JOINT7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM1_JOINT7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM2_JOINT1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM2_JOINT1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM2_JOINT2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM2_JOINT2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM2_JOINT3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM2_JOINT3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM2_JOINT4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM2_JOINT4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM2_JOINT5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM2_JOINT5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM2_JOINT6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM2_JOINT6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM2_JOINT7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM2_JOINT7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM3_JOINT1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM3_JOINT1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM3_JOINT2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM3_JOINT2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM3_JOINT3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM3_JOINT3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM3_JOINT4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM3_JOINT4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM3_JOINT5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM3_JOINT5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM3_JOINT6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM3_JOINT6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM3_JOINT7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM3_JOINT7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM4_JOINT1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM4_JOINT1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM4_JOINT2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM4_JOINT2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM4_JOINT3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM4_JOINT3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM4_JOINT4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM4_JOINT4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM4_JOINT5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM4_JOINT5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM4_JOINT6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM4_JOINT6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ARM4_JOINT7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ARM4_JOINT7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="BODY_JOINT_ROLL">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['BODY_JOINT_ROLL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="BODY_JOINT_PITCH">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['BODY_JOINT_PITCH']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="BODY_JOINT_YAW">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['BODY_JOINT_YAW']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="BODY_JOINT_Z">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['BODY_JOINT_Z']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="BODY_JOINT_Y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['BODY_JOINT_Y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="BODY_JOINT_X">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['BODY_JOINT_X']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
